body {
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container img {
    height: 80px;
    width: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.container-1 {
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {
    background: url('https://media.istockphoto.com/photos/green-poker-background-picture-id453187915?k=6&m=453187915&s=170667a&w=0&h=I8mcRCg6EGsHeOUDzgyjAMGIXp3szoXe3SHnizavq1A=');
    color: #ffffff;
}

.flex-blackjack-row-1 div {
    border: 1px solid white;
    height: 350px;
    padding: 10px;
    flex: 1;
    text-align: center;
}

.flex-blackjack-row-2 button {
    border: 1px solid white;
}

.flex-blackjack-row-2 div {
    padding: 10px;
    border: 1px solid white;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    align-items: center;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

.flex-blackjack-row-1 div img {
    height: 100px;
    padding: 10px;
}